<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Create PPPoE connection name-->
    <add key="entryName" value="宽带连接"/>
    <!--User Name-->
    <add key="userName" value="xxx"/>
    <!--Pwd-->
    <add key="pwd" value="xxx"/>
    <!--Switch time (second)-->
    <add key="switchTime" value="30"/>
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="PPPoEFucker" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>
          <add name="PPPoEFuckerLogger"
               initializeData="suffix=PPPoEFucker;directory=./Log/;truncateInterval=01:00:00;packInterval=12:00:00"
               traceOutputOptions="DateTime,ProcessId,ThreadId"
               type="Lionxcat.Logging.AutoFileEventTraceListener, Logging">
            <filter initializeData="All"
                    type="System.Diagnostics.EventTypeFilter"/>
          </add>

          <add name="Console" type="System.Diagnostics.ConsoleTraceListener">
            <filter initializeData="All" type="System.Diagnostics.EventTypeFilter"/>
          </add>

          <add name="MailLogger"
             initializeData="mailTplFile=./MailTemplate.html;
             mailSubject=PPPoE Warning!;
             recipients=nicholas@nicholas.cn;
             cc=;
             bcc=;
             iProcInfo=true;
             iProcThreadsInfo=true;
             iSysDriveInfo=false;
             iSysEnvVariablesInfo=false;"
             traceOutputOptions="DateTime,ProcessId,ThreadId,LogicalOperationStack,Callstack"
             type="Lionxcat.Logging.MailEventTraceListener, Logging">
            <filter initializeData="Critical"
                    type="System.Diagnostics.EventTypeFilter"/>
          </add>

        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All"/>
    </switches>
  </system.diagnostics>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network"
            from="warning@warning.cn">
        <network
          defaultCredentials="false"
          enableSsl="false"
          host="smtp.exmail.qq.com"
          port="25"
          userName="warning@warning.cn"
          password="xxx"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>